---
import MainLayout from "../components/MainLayout.astro";
import dayjs from "dayjs";
import GizImage from "../components/GizImage.astro";
import Subscribe from "../components/Subscribe.astro";
---

<MainLayout
  title="Gizmo Girls"
  description="Gizmo Girls: A blog about the interaction between Gilmore Girls and technology."
>
  <main class="home">
    <h1 class="title">Gizmo Girls</h1>
    <p class="subtitle">
      A blog about the interaction between Gilmore Girls and technology.
    </p>
    <Subscribe />
    <h2>Recent episodes</h2>
    <a href="/episodes">More episodes</a>
  </main>
</MainLayout>
